
  .youtube-link,
  .email-link {
    font-size: 36px;
    color: #333;
    margin: 0 20px;
  }
  
  .youtube-link:hover,
  .email-link:hover {
    color: #000;
  }
  
  .fa-youtube,
  .fa-envelope {
    font-size: 36px;
  }
  img {
    height: auto;
    max-width: 80%;
    max-height: 80%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


  body{
    background-color: #FFFBAC;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #FFBF00, #FEC868);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.btn:hover {
    background: linear-gradient(to right, #FEC868, #FFBF00);
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

  header {
    display: flex;
    flex-direction: row;
    background-color: #FEC868;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    right: 0%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

header:hover {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.35);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    margin-right: 50px;
    font-weight: 900;
    color: #F2921D;
    transition: all 0.3s ease-in-out;
}

header a:hover {
    color: #FC7300;
}

.logo {
    font-weight: 1500;
    color: #FC7300;
    font-size: 22px;
    margin-left: 100PX;
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    color: #F99417;
}

div {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.text {
    width: 40%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 10px;
}

.greeting {
    font-size: 24px;
    font-weight: bold;
}

.name {
    font-size: 48px;
    font-weight: bold;
}

.title {
    font-size: 36px;
    font-weight: normal;
}

.description {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
    max-width: 800px;
}

.contact-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.youtube-link,
.email-link {
    font-size: 36px;
    color: #333;
    margin: 0 20px;
    transition: all 0.3s ease-in-out;
}

.youtube-link:hover,
.email-link:hover {
    color: #000;
}
p{
margin-bottom:100px
}

